---
title: Prototyping
---

.topbar
  .branding Branding

.leftbar
  .navigation
    .nav-option.active#nav-org
      .nav-subtitle Organization
      .nav-title Ullamcorper
      .nav-arrow 
        %i.fa.fa-angle-down
    .nav-drop#nav-org-drop.hide
      .list
        %ul.list-unstyled
          %li
            %a
              Ultricies
          %li
            %a 
              Tortor
          %li
            %a 
              Malesuada
          %li
            %a
              Purus

    .nav-option.open#nav-space
      .nav-subtitle Space
      .nav-title.hide Commodo
      .nav-arrow 
        %i.fa.fa-angle-down
    .nav-drop#nav-space-drop
      .list
        %ul.list-unstyled
          %li
            %a
              Quam
          %li
            %a 
              Condimentum
          %li
            %a 
              Ipsum
          %li
            %a
              Commodo
    .nav-option#nav-app.disabled
      .nav-subtitle App
      .nav-title.hide Pharetra
      .nav-arrow 
        %i.fa.fa-angle-down
    .nav-drop#nav-app-drop.hide
      .list
        %ul.list-unstyled
          %li
            %a
              Mattis
          %li
            %a 
              Pharetra
          %li
            %a 
              Vehicula
          %li
            %a
              Sollicitudin

  .additional-links
    .list
      %ul.list-unstyled.ptl
        %li
          %a{:href => "/marketplace-list.html"} Marketplace
        %li
          %a{:href => "http://docs.run.pivotal.io/", :target => "_blank"} Docs
        %li
          %a{:href => "http://support.run.pivotal.io/home", :target => "_blank"} Support
        %li
          %a{:href => "/tools.html"} Tools
        %li
          %a{:href => "http://blog.cloudfoundry.com", :target => "_blank"} Blog
        %li
          %a{:href => "http://status.run.pivotal.io/", :target => "_blank"} Status

.prototype
  #org-page
    %h1.paxl.man Org Page
    %ul
      %li Space 1
      %li Space 2
      %li Space 3
  #space-page.hide
    %h1.paxl.man Space Page
    %ul
      %li App 1
      %li App 2
      %li App 3
  #app-page.hide
    %h1.paxl.man App Page
    %ul
      %li Instance 1
      %li Instance 2
      %li Instance 3
